* {
    box-sizing: border-box;
    margin: 0;
}

body {
    border: 10px solid black;
    min-height: 100vh;
    font-family: Arial;
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
}