* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: linear-gradient(160deg, purple, blue, red);
}
#container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#listadetarefas {
    background-color: white;
    border: 10px solid black;
    border-radius: 30px;
    width: 100%;
    max-width: 700px;
    height: 80vh;
    max-height: 80vh;
    overflow: none;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h1 {
    padding: 15px;
}
#colocartarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: grey;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
li {
    list-style: none;
    padding: 3px;
}