* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: linear-gradient(160deg, purple, blue, red);
}
#container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#listadetarefas {
    background-color: white;
    border: 10px solid black;
    border-radius: 30px;
    width: 100%;
    max-width: 700px;
    height: 80vh;
    max-height: 80vh;
    overflow: none;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h1 {
    padding: 15px;
}
#colocartarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(172, 171, 171);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    width: 65%;;
}
input {
    border: none;
    outline: none;
    background: transparent;
    width: 90%;
    padding: 10px;
    font-weight: 16px;
}
button {
    border: none;
    outline: none;
    padding: 16px 25px;
    border-radius: 40px;
    background: #cf3a2a;
    color: white;
    font-size: 10px;
    cursor: pointer;
    font-weight: 1000;

}
li {
    list-style: none;
    padding: 3px;
    cursor: pointer;
}